<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2.5">
        <ion-img src="assets/images/bot.svg" style="height: 30px;"></ion-img>
      </ion-col>
      <ion-col size="6" style="text-align: left; padding-top: 12px;">
        Cadastro Chat
      </ion-col>
      <ion-col size="3.5">
        <ion-chip style="background-color: #ffffff; color: black;" id="open-loading" (click)="novoCadastro()" [disabled]="isMensage">
          <span><b>Reiniciar</b></span>
        </ion-chip>
        <ion-loading class="custom-loading" trigger="open-loading" message="Iniciando..." [duration]="1000"
          spinner="dots"></ion-loading>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" #content (ionScrollEnd)="usaScrollToBottom()">
  <div *ngIf="!messages.length" class="empty">
    <ion-icon class="chat-icon" src="assets/images/bot.svg"></ion-icon>
    <h4>Bem vindos ao <strong>Chat</strong> do cadastro de membros da Assembleia de Deus Missão - Jardim América...</h4>
  </div>

  <ion-item lines="none" [ngClass]="{'bot': m.sender !== 'me'}"
    [class]="messages.length < 4 ? 'chat-item1' : 'chat-item'" *ngFor="let m of messages; index as i">
    <ion-badge slot="start" [color]="m.sender ===  'me' ? 'success' : 'light'" mode="ios">
      <ion-icon class="chat-icon"
        [src]="m.sender ===  'me' ? 'assets/images/user.svg' : 'assets/images/bot.svg'"></ion-icon>
    </ion-badge>
    <ion-label class="ion-text-wrap">
      <p class="w-space" [style]="m.sender ===  'me' ? 'color: #8a2be2; font-weight: bold;' : ''">{{ m.content }}</p>
      <ion-spinner *ngIf="loading && (i+1 === messages.length)" color="tertiary" name="dots"></ion-spinner>
    </ion-label>
  </ion-item>

</ion-content>

<ion-footer class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="submit()" (keyup.enter)="submit()" *ngIf="isEnabledButtons">
    <div style="display: flex;">
      <ion-item [disabled]="isMensage" class="text-box-item">
        <ion-textarea #focustextarea type="text" [inputmode]="isUsaInput" formControlName="prompt" auto-grow="true"
          placeholder="MENSAGEM" style="text-transform: uppercase;"></ion-textarea>
        <ion-buttons slot="end">
          <ion-button color="tertiary" type="submit" [disabled]="form.invalid">
            <ion-icon class="submit-icon" name="send"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </div>
  </form>

  <ion-toolbar *ngIf="!isEnabledButtons">
    <ion-row>
      <ion-col>
        <ion-button expand="full" shape="round" (click)="recortarImagem()"> Foto </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" shape="round" (click)="createPdf()" type="submit"> Salvar </ion-button>
      </ion-col>
      <ion-col>
        <ion-button [disabled]="isDesabledPdf" expand="full" shape="round" (click)="downloadPdf()" color="success"> PDF </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>