.text-box-item {
  --border-radius: 15px;
  --background: var(--ion-color-light);
  width: 100%;
}

.bot {
  --background: transparent;
}

.chat-icon {
  font-size: 32px;

}

.chat-item {
  --padding-top: 10px;
  --padding-bottom: 10px;
}

.chat-item1 {
  --padding-top: 10px;
  --padding-bottom: 10px;
  padding-top: 70%;
}

ion-badge {
  padding: 15px;
}

.w-space {
  white-space: pre-line;
}

.submit-icon {
  font-size: 25px;
}

.empty {
  text-align: center;
  padding-top: 20vh;
  opacity: 30%;

  ion-icon {
    font-size: 120px;
  }
}

.message-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.styleModalImageCrop {
  --min-width: 60%;
  --border-radius: 16px;
  --border-color: #244381;
  --border-width: 1px;
  --border-style: solid;
}